# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Temporary downloaded playlists
downloaded_sources/

# Temporary files
*.tmp

# SQLite temporary files
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
desktop.ini